.sky {
  z-index: 1;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: relative;
  min-height: 700px;

}

.cloud_1 {
  position: absolute;
  top: -300px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 35s infinite;
}

.cloud_2 {
  position: absolute;
  top: -200px;
  left: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 50s 5s infinite;
}

.cloud_3 {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 70s infinite;
}

.cloud_4 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 50s 10s infinite;
}

.cloud_5 {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 70s 3s infinite;
}

.cloud_6 {
  position: absolute;
  top: 300px;
  right: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 30s infinite;
}

.cloud_7 {
  position: absolute;
  top: 500px;
  right: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 50s 5s infinite;
}

.cloud_8 {
  position: absolute;
  top: 600px;
  right: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 70s infinite;
}

.cloud_9 {
  position: absolute;
  top: 250px;
  right: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 50s infinite;
}

.cloud_10 {
  position: absolute;
  top: 700px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 35s infinite;
}

.cloud_11 {
  position: absolute;
  top: 900px;
  left: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 50s 5s infinite;
}

.cloud_12 {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 70s infinite;
}

.cloud_13 {
  position: absolute;
  top: 1200px;
  left: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 50s 10s infinite;
}

.cloud_14 {
  position: absolute;
  top: 1400px;
  left: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_1 ease-in 70s 3s infinite;
}

.cloud_15 {
  position: absolute;
  top: 700px;
  right: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 30s infinite;
}

.cloud_16 {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 50s 5s infinite;
}

.cloud_17 {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 70s infinite;
}

.cloud_18 {
  position: absolute;
  top: 550px;
  right: 0px;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  scale: (1);
  animation: move_2 ease-in 50s infinite;
}

@keyframes move_1 {
  0% {
    left: -100px;
    scale: (2);
  }

  50% {
    left: 500px;
    scale: (1);
  }

  100% {
    left: -100px;
    scale: (1.5);
  }
}

@keyframes move_2 {
  0% {
    right: -100px;
    scale: (1.5);
  }

  50% {
    right: 500px;
    scale: (1);
  }

  100% {
    right: -100px;
    scale: (1.5);
  }
}