.donation {
  width: 90vw;
  margin: 90px auto;
  min-height: 700px;
  padding: 50px 30px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    margin: 20px auto;
    width: 80vw;
  }

  &__title {
    display: none;
  }
}

.donation_item {
  width: 100%;
  margin: 0 auto 50px;
  padding: 50px;
  background-color: #abb3ba;
  box-shadow: 8px -6px 16px -2px #8c8c8c;

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
  }

  &__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
    text-align: center;

    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      font-size: 21px;
    }
  }

  &__img_cover {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__img {
    width: 40%;
    margin: 25px;
    scale: (1);

    @media screen and (max-width: 768px) {
      margin: 10px;
    }

    &:hover,
    &:focus {
      scale: (1.5);
      box-shadow: 8px -6px 16px -2px #8c8c8c;
    }
  }

  &__text {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
      font-size: 15px;
    }

    @media screen and (max-width: 768px) {
      font-size: 9px;
      margin-bottom: 10px;
    }
  }

  &__link {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: blue ;
    margin-bottom: 20px;


    @media screen and (max-width: 768px) {
      font-size: 9px;
      margin-bottom: 10px;
    }
  }


  &__date {
    font-family: Playfair Display;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
    text-align: center;

    margin-top: 30px;

  }

}

