.page_footer {
  background-color: #92a2ad;
  padding: 30px 50px;
  width: 100vw;
  text-align: center;
 
  &__title {
    color: rgba(255, 255, 255, 0.6);
    font-family: Playfair Display;

    font-weight: 700;
    font-size: 21px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    width: 50vw;
    margin: 0 auto 20px;
  }

  &__title_2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Playfair Display;

    font-weight: 700;
    font-size: 21px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    margin-right: 20px;
  }
}

.container_union {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


.contact_container {

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
    text-align: center;
  }
}


.page_footer__contact_link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Playfair Display;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #3335b0;
  }
}

.join_us {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  &__social_icon {
    width: 20px;
    height: 20px;
  }
}

.join_us {
  display: flex;
  align-items: center;
  justify-content: center;

  &__facebook {
    @extend %link;
    background-image:
      url("../public/facebook.svg");
  }
}


%link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: #abb3ba;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #3335b0;
  }
}