.hero {
  margin: 0 auto;
  height: 70vh;
  padding: 15px 0 0;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding: 0;
    height: 83vh;
  }

  &__title {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 971;


    @media screen and (min-width: 901px) {
      left: 50%;
    }
  }

  &__text {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;
    text-align: center;
    margin-bottom: 9px;

    @media screen and (max-width: 900px) {
      font-size: 12px;
    }
  }

  &__image {
    object-fit: contain;

    transform: scale(1);
    opacity: 0.9;
    animation: animate 3000ms 1;
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    /*  box-shadow: 8px -6px 16px -2px #8c8c8c; */
  }

  &__image_cover {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;


  }

}

@keyframes animate {
  0% {

    transform: scale(2);
    opacity: 0;

  }



  100% {
    transform: scale(1);
    opacity: 0.9;

  }
}